[submodule "ImpeccableCircuits"]
	path = ImpeccableCircuits
	url = https://github.com/emsec/ImpeccableCircuits.git
[submodule "present-vhdl"]
	path = present-vhdl
	url = https://github.com/huljar/present-vhdl
[submodule "prince-vhdl"]
	path = prince-vhdl
	url = https://github.com/huljar/prince-vhdl
[submodule "klein-vhdl"]
	path = klein-vhdl
	url = https://github.com/huljar/klein-vhdl
[submodule "Ascon/ascon_hardware_implementation"]
	path = Ascon/ascon_hardware_implementation
	url = https://github.com/michaelfivez/ascon_hardware_implementation
[submodule "Ascon/ascon_dom"]
	path = Ascon/ascon_dom
	url = https://github.com/hgrosz/ascon_dom
[submodule "AES-VHDL"]
	path = AES-VHDL
	url = https://github.com/hadipourh/AES-VHDL
[submodule "Picnic-FPGA"]
	path = Picnic-FPGA
	url = https://github.com/IAIK/Picnic-FPGA
